/* Reorder context menu options */
#context-reload {
    order: 1 !important; /* Refresh first */
}

#context-back {
    order: 2 !important; /* Back second */
}

#context-forward {
    order: 3 !important; /* Forward third */
}

#context-bookmarkpage {
    order: 4 !important; /* Bookmark fourth */
}

#zen-toast-container > .zen-toast:has(> label[data-l10n-id="zen-background-tab-opened-toast"]) {
    display: none !important;
}

#back-button{
display: none !important;
}

#forward-button {
display: none !important;
}

.zen-current-workspace-indicator { visibility: collapse; }

/* about:config settings */
/* zen.theme.content-element-separation - 4*/
/* toolkit.tabbox.switchByScrolling */
/* widget.windows.mica */
/* zen.mediacontrols.enabled */
/* zen.workspaces.show-workspace-indicator */
/* zen.view.experimental-no-window-controls */